[Unit]
Description=Sensor Daemon

[Service]
User=sensor
Group=input
Type=notify
SmackProcessLabel=System
ExecStart=/usr/bin/sensord
MemoryLimit=20M

[Install]
WantedBy=multi-user.target
