[Unit]
Description=Sensor Daemon
Requires=sensord.socket

[Service]
User=sensor
Group=input
Type=notify
SmackProcessLabel=System
ExecStart=/usr/bin/sensord
MemoryLimit=20M
Nice=-5

[Install]
WantedBy=multi-user.target
