[Unit]
Description=Sensor socket

[Socket]
SocketUser=sensor
SocketGroup=input
ListenStream=/run/.sensord.socket
SocketMode=0777
PassCredentials=yes
SmackLabelIPIn=*
SmackLabelIPOut=@
Service=sensord.service
